In [15]:
import pandas as pd
import numpy as np
air = pd.read_csv("data/air_quality_data.csv").sort_values("site")
air['site'].unique().tolist()

airq = air.iloc[:,[0,2,51]].dropna().sort_values("site")
airq.head(100)

C:\Users\spaco\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

         site        stat  pm25t
0      Avalon       Count    0.0
80629  Avalon         Max   14.0
37369  Avalon  Hr. of Max    8.0
80637  Avalon         Min   -2.0
80643  Avalon         Min    0.0
...       ...         ...    ...
79412  Avalon  Hr. of Max   18.0
79411  Avalon         Max   12.0
79410  Avalon         Avg    5.0
37923  Avalon  Hr. of Max    5.0
79266  Avalon         Avg    6.0

[100 rows x 3 columns]